/*
!.gitignore
!CLAUDE.md
!roadmap.md
!PROGRESS.md
capu/
byo-bot/
byo-kv-database/
byo-regex-engine/
byo-shell/
roost/node_modules/

homeward/.next/
homeward/.env.local
credis/credis
roost/

node_modules/
.next/
.env.local
